@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This website will serve to display the various mockups I have created. These aren't full websites 
    and are meant to showcase what I've learned through taking clases and self-study.</p>
</div>
