@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Self Management</h1>
    <h5>Become your Manager</h5>
    <p>Ready to change your life? Are you tired of your regular 9-5 and doing the same thing day in and day out?</p>
    <p>If you're ready to change your mind, your body, your life, you have come to the right place.</p>
    <a asp-area="" asp-controller="Mockups" asp-action="Finance">Manage Your Money</a>
    <a asp-area="" asp-controller="Mockups" asp-action="Body">- Manage Your Body -</a>
    <a asp-area="" asp-controller="Mockups" asp-action="Mind">Manage Your Mind</a>
</div>
