@{
    ViewData[index: "Title"] = "Body";
}

<div class="container-fluid text-center body">
    <h1>Unlock Full Body Control</h1>
    <h5>To Unlock Flight You Need To Jump From The Nest</h5>
    <div class="row g-4">
        <div class="col-md-4">
            <img src="/Assets/Gallery/Overhead_Press.jpg" alt="Image showing a person lifting weights" />
        </div>
        <div class="col-md-8">
            <p>There is no reason you can't hit the gym. Studies show that weight-lifitng has multiple benefits,
            extending your life, increasing heart health, and improving your mood and relieving stress.
            You don't need to be in there for hours on end, lifting and moving weight to dull music. 
            Spending just 15 minutes, if that's all you can spend, three to four times a week focusing on a muscle group,
            would do you much more than one day a week hitting everything. </p>
        </div>
        <div class="col-md-4">
            <img src="/Assets/Gallery/Pullups.jpg" alt="Image showing a person doing pulling" />
        </div>
        <div class="col-md-8">
            <p>Picture it, you are in your late 40s and can still move like you were in your 20s, in fact you can move ven better
            than that. You have strength and flexibility and have complete control of your body and how you move.
            Every step is an expression of freedom, of art, and a showcase that you just don't move weight, but you have power
            coursing within you.</p>
        </div>
        <div class="col-md-4">
            <img src="/Assets/Gallery/Man_Running.jpg" alt="Image showing a person running" />
        </div>
        <div class="col-md-8">
            <p>You want to improve your stamina, last multiple rounds in a ring? Cardio is your answer.
            If all you want is a lean body, low fat and more mobility then start walking. It is that simple, walk for a few minutes
            a day, then start running, then up the ante. Running isn't your thing? Try a bicycle, skateboard, play a sport, the
            world is your oyster.</p>
        </div>
    </div>
</div>