@{
    ViewData["Title"] = "Finance";
}


<div class="container-fluid text-center finance">
    <h1>Take Control Of Your Finances</h1>
    <h5>Is Your Money Working For You? Or Are You Working For Money?</h5>
        <div class="container-fluid text-center">
            <div class="row g-4">
                <div class="col-md-4">
                    <img src="/Assets/Gallery/coins_in_a_bottle.jpg" alt="Coins in a bottle" />
                </div>
                <div class="col-md-8 text-start">
                    <p>The majority of U.S. adults are unable to answer <a href="https://www.weforum.org/stories/2024/04/financial-literacy-money-education/" target="_blank">these three</a> 
                    questions. Financial literacy is becoming a problem, with many adults falsely believing they have the proper
                    know-how to make difficult financial decisions.</p>
                    <p>You don't want to be like these Americans do you? Believing the lie that they are financially savvy
                    while making poor financial decisions that leaves them more and more in debt.</p>
                    <p>If any of this resonates with you, join us, become a &copy;Self Manager and change your life.</p>
                </div>
                <div class="col-md-4">
                    <img class="finance-info" src="/Assets/Gallery/Finance_Info_Small.png"/>
                </div>
                <div class="col-md-8 text-start">
                    <p>The issue isn't felt by just Millenials or Gen Z, even Gen X are having financial issues.
                    The generation before us are just as stressed about their finances
                     as the newer generations are. In fact Gen Z and Gen X have reported on feeling strong <a href="https://www.prnewswire.com/news-releases/nearly-half-of-americans-avoid-checking-their-financial-accounts-due-to-stress-wealth-enhancement-research-finds-302579310.html" target="_blank">negative</a>
                     emotions when thinking about their personal finances.</p>
                </div>
            </div>
        </div>
</div>