@{
    ViewData["Title"] = "Gallery";
}

<div class="gallery-container">
    <div class="row">
        <h2>Artist 1</h2>
        <div class="col"><img src="/Assets/Gallery/Guam_Waters.jpg" alt="A hibiscus flower with bamboo in the background."/></div>
        <div class="col"><img src="/Assets/Gallery/Mountain_Guam.jpg" alt="Tree ferns at Lake Barrine in Australia."/></div>
        <div class="col"><img src="/Assets/Gallery/Guam1.jpg" alt="Lake Barrine, a beautiful volcanic crater lake on the Atherton Tablelands in North Queensland, Australia."/></div>
    </div>
    <div class="row">
        <h2>Arist 2</h2>
        <div class="col"><img src="/Assets/Gallery/Aleera_World_Map.jpg" alt="World Map of Aleera"/></div>
        <div class="col"><img src="/Assets/Gallery/Amerra.jpg" alt="Map of Ameera"/></div>
        <div class="col"><img src="/Assets/Gallery/Secluded_State.jpg" alt="Map of Secluded State"/></div>
    </div>
    <div class="row align-items center">
        <h2>Arist3</h2>
        <div class="col"><img src="/Assets/Gallery/Japanese_TrainStation.jpg" alt="World Map of Aleera"/></div>
        <div class="col"><img src="/Assets/Gallery/Brooklyn_TrainStation.jpg" alt="Map of Ameera"/></div>
        <div class="col"><img src="/Assets/Gallery/Mountain_Sunshine.jpg" alt="Map of Secluded State"/></div>
    </div>
</div>


