@{
    ViewData[index: "Title"] = "Mind";
}

<div class="container-fluid text-center">
    <h1>Mind</h1>
    <h5>It All Starts In The Mind, Do You Want To Hold On Or Let Go?</h5>
    <div class="container-fluid text-start" mind>
        <div class="row g-4">
            <div class="col-md-4">
                <img src="/Assets/Gallery/Unhealthy_Brain.jpg" alt="An image of a brain bleeding from social media">     
            </div> 
            <div class="col-md-8 text-start">
                <p>This is what your brain is like when you're addicted, doesn't matter to what,
                it could be porn, drugs, televvision, short-form videos. You indulge, indulge, indulge until the usually 'hit' isn't 
                enough. That's when you need more. With other stimulants, like alcohol, drugs, the danger is slow, but it's more vocal,
                more visible. An alcoholic or drug addict can be more easily spotted from a crowd of healthy people. 
                But what about the other addictions, the newer ones? Weed, porn, videogames, these are more subtle and can go 
                unnoticed for some time. But there is a solution, one that requires discipline, dedication and a strong will, 
                do you have what it takes to change your life and your mind and be the warrior you know you can be?</p>
            </div>
            <div class="col-md-4">
                <img src="/Assets/Gallery/Healthy_Brain.jpg" alt="An image of a brain">
            </div>
            <div class="col-md-8 text-start">
                <p>A healthy brain, balanced, full of potential. It isn't easy maintaining something like this, it requires hard
                work, determination, and a consistent desire for more. But this could be yours if you follow our program. 
                So what are you waiting for, a good idea to light up above your head? Take this oppoturnity now, 
                and remember it is never too late for you.</p>
            </div>
        </div>
    </div>
</div>